/* Estilo general para imágenes */
.imagen-responsiva {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción original */
    max-width: 500px; /* Tamaño máximo para imágenes grandes */
    border: 1px solid #ccc; /* Opcional: un borde para resaltar */
    border-radius: 10px; /* Bordes redondeados */
    margin: 10px; /* Espacio entre las imágenes */
}


/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .imagen-responsiva {
        max-width: 300px; /* Cambia el tamaño máximo en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .imagen-responsiva {
        max-width: 200px; /* Aún más pequeño para dispositivos móviles */
    }
}


h1, h2, h3, h4, h5, h6 {
	text-align: center;
}